<h1>Cat create from</h1>

<%= render 'form', cat: @cat, method: :new %>
<!-- <form action="/cats" method="post">

  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]">

  <label for="birth_date">Birth date</label>
  <input id="birth_date" type="text" name="cat[birth_date]" value="MM/DD/YYYY">

 <label for="color">Color</label>
 <select name="cat[color]">
   <option disabled selected>-- Please select --</option>
   <option value="black">black</option>
   <option value="white">white</option>
   <option value="purple">purple</option>
   <option value="red">red</option>
   <option value="green">green</option>
   <option value="brown">brown</option>
   <option value="gray">gray</option>
 </select>


 <br><br><br>

 <label for="male">Male</label>
 <input id="male" type="radio" name="cat[sex]" value="M">
 <label for="female">Female</label>
 <input id="female" type="radio" name="cat[sex]" value="F">

 <br><br><br>
 <label for="description">Description</label>
 <br>
 <textarea name="cat[description]" rows="20" cols="85"></textarea>

 <br><br>
 <input type="submit" value="Create New Cat">



</form> -->
